  <div class="time" title="Aguarde o tempo terminar para poder comentar">
    <h1 class="display-1 my-5" id="time">15</h1>
  </div>


  <div id="commet">
    <p>{{result.comment}}</p>
    <div class="flex">
      <div class="float-left mx-3">
        {{!-- gera input hidden com id para fazer comentários e liked --}}
        <input type="hidden" id="id" name="id" value="{{result.id}}">
        <input type="radio" name="like" id="like" value="1" style="display: none;" onclick="btnLike()">
        <label for="like" id="lblike"  class="text-dark mx-2" style="cursor: pointer;">
          <i class="fa fa-thumbs-o-up" for="like" aria-hidden="true"></i> {{result.like}} 
        </label>
        <input type="radio" name="like" id="dislike" value="-1" style="display: none;" onclick="btnDisLike()">
        <label for="dislike" id="lbdislike" class="text-dark" style="cursor: pointer;">
          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> {{result.dislike}} 
        </label>
      </div>

      <div class="float-right mx-2">
        <label for="checkWhisper" class="text-success" style="cursor: pointer;" title="Open whispers">{{result.countWhisper}} whisper</label>
        <input type="checkbox" id="checkWhisper" style="display: none;" onclick="checkWhisper()">   
      </div>
    </div>

    <div class="card mt-5 text-left" id="allComments" style="display: none;">
      {{!-- <span class="text-muted mx-2 my-2">Ver mais 9</span> --}}
      <ul id="ulWhisper" class="list-group overflow-auto" style="height: 200px;">
        {{#each result.whisper}}
        <li class="list-group-item">{{this}}</li>
        {{/each}}
      </ul>
      
      <div class="card-footer">
        <div class="input-group my-0">
          <input class="form-control" type="text" id="whisper"  name="whisper" placeholder=" Add a whisper..." onchange="whisper()">
        </div>
      </div>
      
    </div>
  </div>


  <div class="formulario my-3">
    <form action="/comment" method="POST" id="formComment">
      <div class="form-group">
        <textarea name="comment" class="form-control" rows="3"></textarea>
      </div> 
      
      <div class="form-group" >
        <a id="btnComment" class="btn btn-success btn-lg disabled" role="button" aria-disabled="true" onclick="submit()" style="cursor: pointer;">Comment</a>
      </div>
    </form>
  </div>

